/* ----------------- About Me ----------------- */
.about-me-container {
  display: flex;
  height: 70vh;
  margin-bottom: 3rem;
}

.about-me-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-column:first-child {
  background-image: url("../media/maroon-bells.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5rem;
}

.about-me-column:nth-child(2) {
  align-self: center;
  margin-right: 5rem;
  padding: 0 5rem;
}

.about-me-column h1 {
  margin: 0px auto 0px 0px;
}

.about-me-portfolio-link {
  font-weight: 900;
}

.about-me-portfolio-link:hover {
  text-decoration: underline;
}

.about-section {
  height: 15vh;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.about-section h3 {
  margin: 0;
  font-size: 2.8rem;
}

.about-section p {
  margin: 0;
}

.skills-container {
  background-color: #000;
}

.skills {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: 0 auto;
}

.skills img {
  width: 48px;
  height: 48px;
}

blockquote {
  text-align: center;
  font-size: 3rem;
  font-family: Georgia;
  margin: 0;
}

.qotd-container {
  background-color: #FB6542;
}

#quote-generator {
  width: 15rem;
  margin: 0 auto;
}
