main {
  display: flex;
  height: 70vh;
  margin-bottom: 3rem;
}

.col {
  flex: 1;
}

.col:first-child {
  background-image: url("../media/maroon-bells.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5rem;
}

/* You can style form elements based on whether the field is required or valid
   This is important bc you can provide live feedback via JS script on the entry in a field by a user
   https://developer.mozilla.org/en-US/docs/Learn/Forms/UI_pseudo-classes*/

form {
  margin: 0 auto;
  width: 80%;
  /* height: 100%; */
  padding: 1rem;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1rem;
}

input,
textarea {
  font: 1.4rem sans-serif;
  width: 80%;
  border: 1px solid #999;
  border-radius: 0.5rem;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  padding: 1rem;
  background-color: white;
}

input:invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border: 1px solid black;
}

textarea {
  height: 10rem;
}

button {
  margin: 0 auto;
  display: block;
}

/* This is the style of our error messages */
.error {
  width  : 80%;
  margin: auto;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  /* margin-left: 10%; */
  display: block;
  text-align: center;
}

.error.active {
  padding: 1rem;
}
