/** @format */

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

#desktop-menu {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  text-align: right;
  /* height: 2rem; */
  background-color: black;
}

#mobile-menu {
  /* overflow: hidden;
  position: relative; */
  overflow: hidden;
  background-color: none;
  position: fixed; /* Set the navbar to fixed position */
  top: 1rem;
  right: 1rem;
  width: 100%; /* Full width */
}

#mobile-links {
  display: none;
}

a.icon {
  font-size: 2rem;
  color: black;
}

#mobile-menu a:hover {
  background-color: #ddd;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
}

p {
  font-family: Georgia, sans-serif;
}

.tile {
  overflow: auto; /* Prevents a child of .tile from having margins push outside .tile */
  padding: 1rem 1.5rem;
}

.tile p {
  line-height: 1.5rem;
  font-size: 1.1rem;
  margin-top: 0;
}

/* First Tile */
.tile:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 1.5rem;
}

.tile:first-child p a {
  color: black;
}

.tile:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: black;
  color: white;
  text-align: justify;
}

.tile:nth-child(4) h2 {
  text-align: center;
  margin-bottom: 2.3rem;
}

/* Button appearance */
.btn {
  padding: 0.5rem 1rem;
  font-family: Roboto, sans-serif;
  color: white;
  border: 3px solid white;
  background-color: none;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 1rem auto;
  text-align: center;
  display: inline-block;
}

.btn:active {
  background-color: white;
  color: black;
}

.tile-content {
  /* background-color: rgba(0, 0, 0, 0.3); */
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  /* background-image: url("../media/temples-of-sun-and-moon.jpeg"); */
  background-image: url("../media/maroon-bells.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#projects {
  /* background-image: url("../media/maroon-bells.jpeg"); */
  background-image: url("../media/temples-of-sun-and-moon.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#contact-form {
  background-color: black;
  color: white;
  padding-bottom: 4rem;
}

#contact-form h2,
#contact-form p,
#contact-form a {
  text-align: center;
  color: white;
}

form {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
}

label {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
}

#contact-submit {
  margin-top: 1rem;
  background-color: #166efb;
  color: white;
  font-size: 1.2rem;
}

/* Services icons */
#services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 2rem;
}

.service img {
  width: 64px;
  display: block;
  margin: 0 auto;
}

.service h3 {
  text-align: center;
}

.btn-black {
  padding: 0.5rem 1rem;
  font-family: Roboto, sans-serif;
  color: black;
  background-color: none;
  border: 2px solid black;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 1rem auto;
  text-align: center;
  display: inline;
}

.btn-black:active {
  background-color: black;
  color: white;
}

footer {
  text-align: center;
  font-family: Roboto, sans-serif;
}

footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
  color: black;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  cursor: pointer;
}
