/* Font import */
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/roboto/Roboto-Regular.ttf") format("truetype")
}

/* ----------------- Default Styles ----------------- */
#coming-soon {
  text-align: center;
  padding: 20rem;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  color: black;
}

body {
  margin: 0 auto;
  min-width: 1440px;
}

h1 {
  font-family: Georgia;
  font-size: 3.2rem;
  font-weight: normal;
}

h3 {
  font-family: Georgia;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.6rem;
  margin: 2rem 0;
}

ul {
  font-size: 1.6rem;
}

/* Buttons */
.btn-white {
  padding: 0.75rem 2rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  box-shadow: 0px 0px 5px black;
  font-size: 1.4rem;
}

.btn-white:hover {
  background-color: rgba(255, 255, 255, .8);
  color: black;
  transition: all 200ms ease-in;
}

.btn-black {
  padding: 0.75rem 2rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2px;
  color: black;
  font-size: 1.6rem;
  background-color: transparent;
}

.btn-black:hover {
  background-color: black;
  color: white;
  transition: all 200ms ease-in;
}

/* Navigation bar */
nav {
  position: static;
}

.menu {
  margin: 0;
  padding: 2rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-item {
  list-style: none;
  margin-right: 5rem;
}

.menu-item:last-child {
  margin-right: 10rem;
}

.active {
  font-weight: bolder;
  text-decoration: underline;
}

.menu-item a:hover {
  text-decoration: underline;
  transition: all 200ms ease-in;
}

/* Logo Adjustments */
.menu-item:first-child {
  margin-right: auto;
  margin-left: 5rem;
  min-width: 205px;
}

.menu-item:first-child a {
  font-size: 3.2rem;
  font-family: Georgia;
}

.menu-item:first-child a:hover {
  color: black; /* Prevent logo from changing colors on hover */
}

/* Footer */
footer {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  padding: 0;
}

.social-item {
  list-style: none;
  padding: 0 1.5rem;
}

.social-item a img {
  width: 42px;
  height: 42px;
}

footer a {
  margin: 2rem 0;
  text-decoration: underline;
}

/* ----------------- Default Project Page Information ----------------- */
.project-title {
  text-align: center;
  padding: 2rem 0;
}
